= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_type
    = f.text_field :user_type
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :full_name
    = f.text_field :full_name
  .field
    = f.label :most_recent_job_title
    = f.text_field :most_recent_job_title
  .field
    = f.label :ideal_job_title_current
    = f.text_field :ideal_job_title_current
  .field
    = f.label :most_recent_company
    = f.text_field :most_recent_company
  .field
    = f.label :ideal_salary
    = f.text_field :ideal_salary
  .field
    = f.label :education_cap
    = f.text_field :education_cap
  .field
    = f.label :years_experience
    = f.text_field :years_experience
  .field
    = f.label :native_language
    = f.text_field :native_language
  .actions
    = f.submit 'Save'
