%h1 Listing users

%table
  %tr
    %th User type
    %th Email
    %th Password
    %th Full name
    %th Most recent job title
    %th Ideal job title current
    %th Most recent company
    %th Ideal salary
    %th Education cap
    %th Years experience
    %th Native language
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.user_type
      %td= user.email
      %td= user.password
      %td= user.full_name
      %td= user.most_recent_job_title
      %td= user.ideal_job_title_current
      %td= user.most_recent_company
      %td= user.ideal_salary
      %td= user.education_cap
      %td= user.years_experience
      %td= user.native_language
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
