%p#notice= notice

%p
  %b User type:
  = @user.user_type
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Full name:
  = @user.full_name
%p
  %b Most recent job title:
  = @user.most_recent_job_title
%p
  %b Ideal job title current:
  = @user.ideal_job_title_current
%p
  %b Most recent company:
  = @user.most_recent_company
%p
  %b Ideal salary:
  = @user.ideal_salary
%p
  %b Education cap:
  = @user.education_cap
%p
  %b Years experience:
  = @user.years_experience
%p
  %b Native language:
  = @user.native_language

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
