= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :organization
    = f.text_field :organization
  .field
    = f.label :hiring
    = f.text_field :hiring
  .field
    = f.label :expected_salary
    = f.text_field :expected_salary
  .field
    = f.label :ideal_degree
    = f.text_field :ideal_degree
  .field
    = f.label :ideal_poach_company
    = f.text_field :ideal_poach_company
  .field
    = f.label :looking_for_a
    = f.text_field :looking_for_a
  .field
    = f.label :with
    = f.text_field :with
  .field
    = f.label :native_languages
    = f.text_field :native_languages
  .actions
    = f.submit 'Save'
