%h1 Listing companies

%table
  %tr
    %th Organization
    %th Hiring
    %th Expected salary
    %th Ideal degree
    %th Ideal poach company
    %th Looking for a
    %th With
    %th Native languages
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.organization
      %td= company.hiring
      %td= company.expected_salary
      %td= company.ideal_degree
      %td= company.ideal_poach_company
      %td= company.looking_for_a
      %td= company.with
      %td= company.native_languages
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
