%p#notice= notice

%p
  %b Organization:
  = @company.organization
%p
  %b Hiring:
  = @company.hiring
%p
  %b Expected salary:
  = @company.expected_salary
%p
  %b Ideal degree:
  = @company.ideal_degree
%p
  %b Ideal poach company:
  = @company.ideal_poach_company
%p
  %b Looking for a:
  = @company.looking_for_a
%p
  %b With:
  = @company.with
%p
  %b Native languages:
  = @company.native_languages

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
