= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :matchable_type
    = f.text_field :matchable_type
  .field
    = f.label :matchable_id
    = f.text_field :matchable_id
  .field
    = f.label :image_source
    = f.text_field :image_source
  .field
    = f.label :percent_match
    = f.text_field :percent_match
  .field
    = f.label :job_title
    = f.text_field :job_title
  .field
    = f.label :match_point_1
    = f.text_field :match_point_1
  .field
    = f.label :match_point_2
    = f.text_field :match_point_2
  .actions
    = f.submit 'Save'
