%h1 Listing matches

%table
  %tr
    %th Matchable type
    %th Matchable
    %th Image source
    %th Percent match
    %th Job title
    %th Match point 1
    %th Match point 2
    %th
    %th
    %th

  - @matches.each do |match|
    %tr
      %td= match.matchable_type
      %td= match.matchable_id
      %td= match.image_source
      %td= match.percent_match
      %td= match.job_title
      %td= match.match_point_1
      %td= match.match_point_2
      %td= link_to 'Show', match
      %td= link_to 'Edit', edit_match_path(match)
      %td= link_to 'Destroy', match, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Match', new_match_path
