%p#notice= notice

%p
  %b Matchable type:
  = @match.matchable_type
%p
  %b Matchable:
  = @match.matchable_id
%p
  %b Image source:
  = @match.image_source
%p
  %b Percent match:
  = @match.percent_match
%p
  %b Job title:
  = @match.job_title
%p
  %b Match point 1:
  = @match.match_point_1
%p
  %b Match point 2:
  = @match.match_point_2

= link_to 'Edit', edit_match_path(@match)
\|
= link_to 'Back', matches_path
