#login {
  background: url(bg.splash-big.jpg) no-repeat center top;
  background-size: 320px 604px;
  width: 100%;
  min-height: 100%;
  padding-top: 40px;

  .social-links {
    margin-bottom: 35px;

    ul {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  }

  .avatar {
    margin: 30px auto;
  }
}
