html {
  font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
}

.right {
  float: right;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.no-after-border {

  &:after {
    border: 0 !important;
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  text-indent: -9999em;

  &.icon-tie {
    background-image: url(icon.tie.png);
    width: 6.5px;
    height: 11px;
    background-size: 6.5px 11px;

    &.gray {
      background-image: url(icon.tie-gray.png);
    }
  }

  &.icon-place {
    background-image: url(icon.place.png);
    width: 6.5px;
    height: 9.5px;
    background-size: 6.5px 9.5px;

    &.gray {
      background-image: url(icon.place-gray.png);
    }
  }

  &.icon-edit {
    background-image: url(icon-edit.png);
    width: 26px;
    height: 26px;
    background-size: 26px;
  }

  &.icon-facebook-blue {
    background-image: url(icon.facebook-blue.png);
    width: 31px;
    height: 31px;
    background-size: 31px;
  }
}// icon

.welcome {
  font-family: $HelveticaUL;
  text-align: center;
  font-size: 27px;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(35, 31, 32, 0.75);

  span {
    font-size: 65px;
  }
}// welcome

.horizontal-borders {
  position: relative;
  display: block;
  font-family: $HelveticaRegular;
  font-size: 13px;
  text-align: center;
  color: #7eb1ff;
  clear: both;
  margin: 5px 0;

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -175px;
    background: rgba(66, 139, 248, 0.70);
    width: 100%;
    height: 1px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 175px;
    background: rgba(66, 139, 248, 0.70);
    width: 100%;
    height: 1px;
  }
}// horizontal-borders

.form-row {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
  }

  &.error:after {
    border-bottom: 1px solid #ff8f99;
  }

  input[type=text],
  input[type=password] {
    position: relative;
    display: block;
    width: 280px;
    background: #FFF;
    font-family: $HelveticaM;
    font-size: 12px;
    color: #393C43;
    border: 0;
    border-bottom: 3px solid #eaeaea;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 20px 22px;
    margin: 0;

    &.error {
      color: #ff8f99;
    }
  }

  input[type=submit] {
    display: block;
    background: #f7f7f7;
    width: 100%;
    font-family: $HelveticaM;
    font-size: 15px;
    color: #0d67ef;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    outline: 0;
    padding: 29px 0;
    margin: 0;

    &.transparent {
      background: none;
      font-family: $HelveticaUL;
      font-size: 20px;
      color: #ffffff;
      text-shadow: 0 1px 0 rgba(35, 31, 32, 0.75);
    }
  }

  ::-webkit-input-placeholder {
    font-family: $HelveticaM;
    font-size: 12px;
    color: #393C43;
  }
}

.social-links {

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  ul {

    li {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 37px 38px;
      width: 37px;
      height: 38px;
      margin-left: 9px;

      &:first-child {
        margin-left: 0;
      }

      &.facebook {
        background-image: url(icon.facebook.png);
      }

      &.github {
        background-image: url(icon.github.png);
      }

      &.linkedin {
        background-image: url(icon.linkedin.png);
      }

      &.google-plus {
        background-image: url(icon.google_plus.png);
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999em;
      }// a
    }// li
  }// ul
}// social-links

.avatar {
  width: 88.5px;
  height: 88.5px;
}

.user-details {
  background: #e6e9ef;
  padding: 25px 11px;

  &.transparent {
    background: none !important;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .avatar {
    float: left;
  }

  .info {
    float: left;
    margin-left: 12px;
    margin-top: 11px;

    h2 {
      font-family: $HelveticaUL;
      font-size: 25px;
      color: #ffffff;
      margin-bottom: 7px;

      span {
        font-family: $HelveticaRegular;
      }
    }

    p {
      font-family: $HelveticaRegular;
      font-size: 12.5px;
      color: #ffffff;
      margin-bottom: 7px;
    }
  }
}

.notice {
  position: relative;
  background: #c5e5ba;
  background: -moz-linear-gradient(top,  #c5e5ba 0%, #d1f0c6 3%, #d6f5cb 5%, #d6f5cb 95%, #d1f0c6 98%, #c5e5ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5e5ba), color-stop(3%,#d1f0c6), color-stop(5%,#d6f5cb), color-stop(95%,#d6f5cb), color-stop(98%,#d1f0c6), color-stop(100%,#c5e5ba));
  background: -webkit-linear-gradient(top,  #c5e5ba 0%,#d1f0c6 3%,#d6f5cb 5%,#d6f5cb 95%,#d1f0c6 98%,#c5e5ba 100%);
  background: -o-linear-gradient(top,  #c5e5ba 0%,#d1f0c6 3%,#d6f5cb 5%,#d6f5cb 95%,#d1f0c6 98%,#c5e5ba 100%);
  background: -ms-linear-gradient(top,  #c5e5ba 0%,#d1f0c6 3%,#d6f5cb 5%,#d6f5cb 95%,#d1f0c6 98%,#c5e5ba 100%);
  background: linear-gradient(bottom,  #c5e5ba 0%,#d1f0c6 3%,#d6f5cb 5%,#d6f5cb 95%,#d1f0c6 98%,#c5e5ba 100%);
  width: 100%;
  height: 14px;
  text-align: center;
  padding: 13px;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
  }

  p {
    font-family: $HelveticaL;
    font-size: 14px;
    color: #50893b;

    span {
      font-family: $HelveticaM;
    }
  }// p
}// notice

.survey {
  background: #eaeaea;
  box-shadow: 0 -1px 6px 0 rgba(35,31,32,0.63);

  > p {
    font-family: $HelveticaL;
    font-size: 15px;
    line-height: 18px;
    color: #393c43;
    border-bottom: 1px solid #cfcfcf;
    padding: 18px 22px;
  }

  .questions {

    li {

      h3 {
        font-family: $HelveticaM;
        font-size: 13px;
        font-weight: 800;
        color: #393c43;
        padding: 19px;
      }

      p {
        position: relative;
        display: block;
        width: 280px;
        background: #FFF;
        font-family: $HelveticaM;
        font-size: 12px;
        color: #393C43;
        border-radius: 0;
        padding: 22px 22px;
        margin: 0;

        &:after {
          content: '';
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 100%;
          height: 1px;
          border-bottom: 1px solid #eaeaea;
        }
      }// p
    }// li
  }// questions
}// survey

.heading-with-icon {
  position: relative;
  font-family: $HelveticaL;
  font-size: 25px;
  color: #393c43;
  padding: 16px 16px 0;

  .icon {
    position: absolute;
    top: 15px;
    right: 18px;
  }
}// heading-with-icon
