#new-user {
  background: url(bg.splash.jpg) no-repeat center top;
  background-size: 320px 520px;
  width: 100%;
  min-height: 100%;
  padding-top: 31px;

  .social-links {
    padding: 0 16px;

    ul {
      position: relative;
      top: -8px;
      float: left;
      margin-left: 13px;
    }

    h2 {
      float: left;
      font-family: $HelveticaUL;
      font-size: 18px;
      color: #ffffff;
      text-shadow: 0 1px 0 rgba(35, 31, 32, 0.75);
    }
  }// social-links

  .new-user-icon {
    background-image: url(img.new_user.png);
    background-repeat: no-repeat;
    background-size: 89px 88px;
    width: 89px;
    height: 88px;
    margin: 10px auto;
  }

  .sex-select {
    padding: 0 16px;

    &:after {
      border-bottom: 0 !important;
    }

    span {
      position: relative;
      top: 14px;
      float: left;
      font-family: $HelveticaRegular;
      font-size: 16px;
      color: #ffffff;
      text-shadow: 0 1px 0 rgba(35, 31, 32, 0.75);
    }

    .dk_container {
      margin-left: 15px;
    }
  }// sex-select

  .new-user-fields {
    box-shadow: 0 -1px 6px 0 rgba(35,31,32,0.63);
    border-top: 4px solid #eaeaea;
    margin-top: 14px;
  }
}// NEW-USER
