#profile {

  .user-details {
    padding: 25px 4px 9px 4px;
    .info {

      h2, p {
        color: #2a2e36;
      }
    }
  }// user-details

  .navigation {
    background: #0d67ef;
    width: 100%;
    height: 45px;
    box-shadow: 0 1px 3px 0 rgba(35,31,32,0.53);

    ul {
      display: table;
      width: 100%;
      height: 100%;
      text-align: center;

      li {
        display: table-cell;
        vertical-align: middle;

        a {
          position: relative;
          font-family: $HelveticaM;
          font-size: 12px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          opacity: 0.40;

          &.active {
            opacity: 1.0;

            &:after {
              content: '';
              position: absolute;
              bottom: -5px;
              left: 50%;
              background: url(img.navigation-dot.png) no-repeat;
              width: 7px;
              height: 7px;
              background-size: 3.5px 3.5px;
            }
          }
        }// a
      }// li
    }// ul
  }// navigation

  .candidate-profile-heading {
    position: relative;
    background: #eef1f4;
    box-shadow: 0 1px 4px 0 rgba(35,31,32,0.25);
    padding: 16px;

    h1 {
      font-family: $HelveticaM;
      font-size: 12px;
      font-weight: 800;
    }

    .icon-edit {
      position: absolute;
      top: 7px;
      right: 16px;
    }
  }// candidate-profile-heading

  .candidate-profile {

    tr {
      border-bottom: 1px solid #dcdcdc;

      td:first-child {
        font-weight: 400;
        text-align: left;
        border: 0;
      }

      td {
        font-family: $HelveticaM;
        font-size: 12px;
        font-weight: 800;
        text-align: right;
        border-left: 1px solid #dcdcdc;
        padding: 16px;
      }
    }
  }// candidate-profile

  .survey {
    box-shadow: none;

    .questions li h3 {
      line-height: 16px;
      font-weight: 400;
    }
  }// survey

  .opportunities {
    position: relative;

    > li {
      position: absolute;
      top: 0;
      left: 0;
      display: none;

      &.active {
        display: block;
      }

      &.no-finds {
        height: 414px;
        .no-found-img {
          display: block;
          margin: 50px auto 22px auto;
        }

        p {
          font-family: $HelveticaM;
          font-size: 16px;
          color: #555555;
          text-align: center;
          padding: 0 20px;
          margin-bottom: 13px;

          &.light {
            font-family: $HelveticaL;
            font-size: 16px;
            color: #969696;
          }
        }

        input[type=text] {
          border-bottom: 1px solid #EAEAEA;
        }
      }// no-finds
    }// li
  }// opportunities

  .company-info {
    padding: 15px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .content {
      float: left;
      width: 180px;
    }

    h2 {
      font-family: $HelveticaM;
      font-weight: 800;
      font-size: 15px;
      color: #393c43;
      margin-bottom: 12px;
    }// h2

    ul {
      width: 190px;
      float: left;
      list-style: disc;
      list-style-position: inside;

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      li {
        font-family: $HelveticaM;
        font-size: 13px;
        color: #787878;
        margin-bottom: 4px;
      }
    }

    .circle {
      float: left;
      width: 71px;
      height: 71px;
      margin-top: 5px;
      margin-left: 20px;
    }
  }// company-info

  .interactions {
    width: 100%;
    padding-bottom: 15px;
    margin-top: 15px;

    li {
      display: inline-block;
      overflow: hidden;
      margin: 0 6px 15px 6px;

      .circle-with-logo {
        position: relative;
        width: 88px;
        height: 88px;
        margin-bottom: 7px;

        .logo {
          position: absolute;
          margin: auto;
          top: 0; left: 0; bottom: 0; right: 0;
        }
      }// circle-with-logo

      h2 {
        font-family: $HelveticaM;
        font-weight: 800;
        font-size: 12px;
        color: #3a3a3a;
        text-align: center;
        margin-bottom: 3px;
      }

      p {
        font-family: $HelveticaM;
        font-size: 9px;
        color: #a0a0a0;
        text-align: center;
      }
    }
  }
}// PROFILE
