#splash {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  background: url(bg.splash.jpg) no-repeat center top;
  background-size: 320px 520px;
  width: 100%;
  min-height: 100%;

  .welcome {
    display: table-cell;
    position: relative;
    top: -40px;
    vertical-align: middle;
  } // welcome
}// LOGIN

.nav-bar {
  display: table;
  background: #ffffff;
  width: 100%;
  height: 52px;

  ul {
    display: table-cell;
    vertical-align: middle;
    padding: 0 16px;

    li {
      display: inline-block;

      a {
        font-family: $HelveticaM;
        font-size: 13px;
        color: #393c43;
        text-decoration: none;
      }// a
    }// li
  }// ul
}// nav-bar
