@import 'compass/css3';

#welcome-person {
  @include transition(padding 700ms linear);
  @include transition-delay(1s);
  background: url(bg.splash-big.jpg) no-repeat center top;
  background-size: 320px 563px;
  width: 100%;
  min-height: 100%;
  padding-top: 30px;
  overflow: hidden;

  /* static height */
  height: 563px;
  @include box-sizing(border-box);

  .user-details {
    @include transition(opacity 1s ease);
    @include transition-delay(2s);
    margin-top: 20px;
    opacity: 1;

    a {
      text-decoration: none;
    }
  }

  .survey {
  	@include transition(margin 800ms ease);
  	@include transition-delay(2.5s);
  	position: relative;
    background: #eaeaea;
    box-shadow: 0 -1px 6px 0 rgba(35,31,32,0.63);

    > p {
      font-family: $HelveticaL;
      font-size: 15px;
      line-height: 18px;
      color: #393c43;
      border-bottom: 1px solid #cfcfcf;
      padding: 18px 22px;
    }

    .questions {
      position: relative;
      width: 100%;
      height: 163px; //Quite dirty hack, only because it is demo :-)

      li {
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        &.active {
          display: block;
        }

        h3 {
          font-family: $HelveticaM;
          font-size: 13px;
          font-weight: 800;
          color: #393c43;
          padding: 19px;
        }

        p {
          position: relative;
          display: block;
          width: 280px;
          background: #FFF;
          font-family: $HelveticaM;
          font-size: 12px;
          color: #393C43;
          border-radius: 0;
          padding: 22px 22px;
          margin: 0;

          &:after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #eaeaea;
          }
        }// p
      }// li
    }// questions

    .pagin-indicator {
      text-align: center;
      padding: 10px 0 20px 0;

      li {
        display: inline-block;
        background-image: url(img.pagin.png);
        background-repeat: no-repeat;
        background-size: 7.5px 7px;
        width: 7.5px;
        height: 7px;
        margin: 0 5px;

        &.active {
          background-image: url(img.pagin-active.png);
          background-repeat: no-repeat;
          background-size: 8px 7px;
          width: 8px;
          height: 7px;
        }
      }
    }
  }// survey

  &.initial {
	  padding-top: 65%;
	  .user-details { opacity: 0;  }
	  .survey { margin-top: 500px; }
  }
}// WELCOME-PERSON
