<section id="profile">
  <header class="user-details">
    <div class="avatar bounceIn">
      <img src="/assets/img.avatar-gray.png" alt="Avatar placeholder" width="88.5" height="88.5"/>
    </div> <!-- avatar -->

    <div class="info fadeInLeftLarge">
      <h2>Johnny <span>Mellow</span></h2>

      <p>
        <i class="icon icon-tie gray"></i>
        PR Consultant
      </p>

      <p>
        <i class="icon icon-place gray"></i>
        Dubai, UAE
      </p>
    </div> <!-- info -->
  </header> <!-- user-details -->

  <nav class="navigation">
    <ul>
      <li class="fadeInUp animation-delay1"><a href="profile.html">Profile</a></li>
      <li class="fadeInUp animation-delay2"><a href="opportunities.html">Opportunities</a></li>
      <li class="fadeInUp animation-delay3"><a href="attention.html" class="active">Attention</a></li>
    </ul>
  </nav> <!-- navigation -->

  <div class="heading-with-icon">
    <h2>Most Recent</h2>
    <a class="icon icon-facebook-blue" href="profile?profile=company">Facebook</a>
  </div> <!-- most-recent -->

  <section class="company-info">
    <div class="content">
      <h2>Corp Comm Manager</h2>
      <ul>
        <li>Masters of Communication</li>
        <li>Portsmouth Group</li>
        <li>5 to 10 ears exp</li>
      </ul>
    </div>

    <div class="circle">
      <input type="text" value="75" class="knob dial">
    </div>
  </section>

  <div class="candidate-profile-heading">
    <h1>Candidate profile</h1>
  </div>

  <ul class="interactions">
    <li>
      <div class="circle-with-logo">
        <input type="text" value="87" class="knob-with-logo dial">
        <img src="/assets/img.bain-logo.jpg" alt="Bain logo" width="40" height="40" class="logo" />
      </div>
      <h2>Bain &amp; CO</h2>
      <p>10 Mar</p>
    </li>
    <li>
      <div class="circle-with-logo">
        <input type="text" value="18" class="knob-with-logo dial">
        <img src="/assets/img.deloitte-logo.jpg" alt="Deloitte logo" width="69" height="13" class="logo" />
      </div>
      <h2>Deloitte</h2>
      <p>20 Mar</p>
    </li>
    <li>
      <div class="circle-with-logo">
        <input type="text" value="55" class="knob-with-logo dial">
        <img src="/assets/img.gems-logo.jpg" alt="Bain logo" width="60.5" height="13" class="logo" />
      </div>
      <h2>GEMS</h2>
      <p>23 Mar</p>
    </li>
<!--     <li>
      <div class="circle-with-logo">
        <input type="text" value="87" class="knob-with-logo dial">
        <img src="/assets/img.bain-logo.jpg" alt="Bain logo" width="40" height="40" class="logo" />
      </div>
      <h2>Bain &amp; CO</h2>
      <p>10 Mar</p>
    </li>
    <li>
      <div class="circle-with-logo">
        <input type="text" value="18" class="knob-with-logo dial">
        <img src="/assets/img.deloitte-logo.jpg" alt="Deloitte logo" width="69" height="13" class="logo" />
      </div>
      <h2>Deloitte</h2>
      <p>20 Mar</p>
    </li>
    <li>
      <div class="circle-with-logo">
        <input type="text" value="55" class="knob-with-logo dial">
        <img src="/assets/img.gems-logo.jpg" alt="Bain logo" width="60.5" height="13" class="logo" />
      </div>
      <h2>GEMS</h2>
      <p>23 Mar</p>
    </li> -->
  </ul>
</section> <!-- PROFILE -->
