<section id="welcome-person" class="initial">

  <h1 class="welcome">Welcome to <span>Catapult</span></h1>

  <section class="user-details transparent">
    <div class="info">
      <span class="horizontal-borders">Choose option</span>

      <a href="profile?profile=user">
        <h2 align="center"><span>Johnny Mellow</span> profile</h2>
      </a>

      <a href="opportunities?profile=user">
        <h2 align="center"><span>Johnny</span> potential matches</h2>
      </a>

      <a href="opportunities?profile=company">
        <h2 align="center"><span>Johnny</span> attention</h2>
      </a>

      <a href="profile?profile=company">
        <h2 align="center"><span>Facebook</span> profile</h2>
      </a>

      <a href="opportunities?profile=company">
        <h2 align="center"><span>Facebook</span> potential matches</h2>
      </a>

      <a href="welcome_company?profile=company">
        <h2 align="center"><span>Facebook</span> create ad</h2>
      </a>


      <span class="horizontal-borders">or</span>

      <a href="login">
        <h2 align="center"><span>Login</span></h2>
      </a>

      <a href="new_user">
        <h2 align="center"><span>New user</span></h2>
      </a>

      <a href="index">
        <h2 align="center"><span>Splash sceen</span></h2>
      </a>

      <a href="welcome_person">
        <h2 align="center"><span>Onboarding</span></h2>
      </a>
    </div> <!-- info -->
  </section> <!-- user-details -->



</section> <!-- WELCOME-PERSON -->
