<section id="splash">

  <h1 class="welcome">Welcome to<br><span>Catapult</span></h1>

  <nav class="nav-bar bottom">
    <ul>
      <li><a href="new_user.html">New User</a></li>
      <li class="right"><a href="login.html">Login</a></li>
    </ul>
  </nav> <!-- nav-bar bottom -->
</section> <!-- LOGIN -->
