<section id="login">
  <header class="social-links">
    <ul>
      <li class="facebook"><a href="#">Facebook</a></li>
      <li class="github"><a href="#">Github</a></li>
      <li class="linkedin"><a href="#">Linkedin</a></li>
      <li class="google-plus"><a href="#">Google Plus</a></li>
    </ul>
  </header> <!-- social-links -->

  <h1 class="welcome">Welcome to <span>Catapult</span></h1>

  <div class="avatar">
    <img src="/assets/img.avatar.png" alt="Avatar placeholder" width="88.5" height="88.5" />
  </div> <!-- avatar -->

  <form action="" autocomplete="off">
    <fieldset class="new-user-fields">
      <div class="form-row">
        <input type="text" placeholder="E-mail..." />
      </div>

      <div class="form-row">
        <input type="password" placeholder="Password..." />
      </div>

      <div class="form-row no-after-border">
        <input type="submit" value="Login &#10141;" class="transparent submit"/>
      </div>
    </fieldset>
  </form>
</section> <!-- LOGIN -->
