<section id="new-user">
  <header class="social-links">
    <h2>Create with:</h2>
    <ul>
      <li class="facebook"><a href="#">Facebook</a></li>
      <li class="github"><a href="#">Github</a></li>
      <li class="linkedin"><a href="#">Linkedin</a></li>
      <li class="google-plus"><a href="#">Google Plus</a></li>
    </ul>
  </header> <!-- social-links -->

  <span class="horizontal-borders">or</span>

  <div class="new-user-icon"></div>

  <form action="">
    <div class="form-row sex-select">
      <span>I'm a</span>
      <select name="">
        <option value="person">Person</option>
        <option value="company">Company</option>
      </select>
    </div>

    <fieldset class="new-user-fields">
      <div class="form-row">
        <input type="text" placeholder="E-mail..." />
      </div>

      <div class="form-row ">
        <input type="password" placeholder="Password..." class="error" value="Password..."/>
      </div>

      <div class="form-row">
        <input type="password" placeholder="Confirm password..." />
      </div>

      <div class="form-row">
        <input type="text" placeholder="Full name..." />
      </div>

<!--       <div class="form-row">
        <input type="text" placeholder="Current/Most Recent Job..." />
      </div>

      <div class="form-row">
        <input type="text" placeholder="Your Ideal Next Job..." />
      </div> -->

      <div class="form-row no-after-border">
        <input type="submit" value="NEXT" class="submit"/>
      </div>
    </fieldset>

  </form>
</section> <!-- NEW-USER -->
