<section id="profile">
  <header class="user-details">
    <div class="avatar bounceIn">
      <img src="/assets/img.avatar-gray.png" alt="Avatar placeholder" width="88.5" height="88.5"/>
    </div> <!-- avatar -->

    <div class="info fadeInLeftLarge">
      <h2>Johnny <span>Mellow</span></h2>

      <p>
        <i class="icon icon-tie gray"></i>
        PR Consultant
      </p>

      <p>
        <i class="icon icon-place gray"></i>
        Dubai, UAE
      </p>
    </div> <!-- info -->
  </header> <!-- user-details -->

  <nav class="navigation">
    <ul>
      <li class="fadeInUp animation-delay1"><a href="profile.html">Profile</a></li>
      <li class="fadeInUp animation-delay2"><a href="opportunities.html" class="active">Opportunities</a></li>
      <li class="fadeInUp animation-delay3"><a href="attention.html">Attention</a></li>
    </ul>
  </nav> <!-- navigation -->

  <ul class="opportunities">


    <% @profile.matches.all.each_with_index do |match,index| %>
      <li class="company facebook <%= 'active' if index==1 %>">
        <section class="company-logo">
          <img src="<%= match.image_source %>" alt="Facebook logo" width="320" height="294"/>
        </section>

        <section class="company-info">
          <div class="content">
            <h2><%= match.job_title %></h2>
            <ul>
              <li><%= match.match_point_1 %></li>
              <li><%= match.match_point_2  %></li>
            </ul>
          </div>

          <div class="circle">
            <input type="text" value="<%= match.percent_match %>" class="knob dial">
          </div>
        </section>
      </li>
    <% end %>

    <li class="no-finds">
      <img src="/assets/img.no-finds.jpg" alt="No found" class="no-found-img" width="111" height="111" />
      <p class="light">Hey - we cannot come up with recommendations for you yet.</p>
      <p>What year did you being working at your current job?</p>

      <form action="">
        <div class="form-row no-after-border">
          <input type="text" placeholder="Write your answer here..."/>
        </div>
        <div class="form-row">
          <input type="submit" value="NEXT"/>
        </div>
      </form>
    </li>
  </ul>
</section> <!-- PROFILE -->
