<section id="profile">
  <header class="user-details">
    <div class="avatar bounceIn">
      <img src="/assets/img.avatar-gray.png" alt="Avatar placeholder" width="88.5" height="88.5"/>
    </div> <!-- avatar -->

    <div class="info fadeInLeftLarge">
      <h2>Johnny <span>Mellow</span></h2>

      <p>
        <i class="icon icon-tie gray"></i>
        PR Consultant
      </p>

      <p>
        <i class="icon icon-place gray"></i>
        Dubai, UAE
      </p>
    </div> <!-- info -->
  </header> <!-- user-details -->

  <nav class="navigation">
    <ul>
      <li class="fadeInUp animation-delay1"><a href="profile.html" class="active">Profile</a></li>
      <li class="fadeInUp animation-delay2"><a href="opportunities.html">Opportunities</a></li>
      <li class="fadeInUp animation-delay3"><a href="attention.html">Attention</a></li>
    </ul>
  </nav> <!-- navigation -->

<!--   <div class="notice">
    <a href="#">Click me</a>
    <p class="flipInH"><span>Hey there!</span> Check our new feature!</p>
  </div>  -->
  <!-- notice -->

  <div class="candidate-profile-heading">
    <% if @profie.kind_of?(User)%>
      <h1>Candidate profile</h1>
    <%else%>
      <h1>Company profile</h1>
    <%end%>
    <a class="icon icon-edit" href="#">Edit</a>
  </div>

  <table class="candidate-profile fadeInDown">
    <% profile_data.each do |attribute| %>
      <tr>
        <td class="fadeInRight"><%= attribute[0].humanize %></td>
        <td class="fadeInLeft"><%= attribute[1] %></td>
      </tr>
    <% end %>
  </table>



<section class="survey">
  <form action="">
    <ul class="questions">
      <!-- <li>
        <h3>You have a Masters, John.<br>
          What school did you get it from??</h3>
          <div class="form-row">
            <input type="text" placeholder="Write down your answer..." />
          </div>
        </li> -->
        <li>
          <% if @profile.kind_of?(User)%>
            <h3>You have a Masters, John.<br>What school did you get it from??</h3>
          <% else %>
            <h3>You specfied salary to be 100000 USD.<br> Are there any other benefits included?</h3>
          <% end %>
          <div class="form-row">
            <input type="text" placeholder="Write down your answer..." />
          </div>
        </li>
      </ul> <!-- questions -->
    </form>
  </section> <!-- survey -->
</section> <!-- PROFILE -->
