<section id="welcome-person" class="initial">

  <h1 class="welcome">Welcome to <span>Catapult</span></h1>

  <section class="user-details transparent">
    <div class="avatar">
      <img src="/assets/img.avatar.png" alt="Avatar placeholder" width="88.5" height="88.5" />
    </div> <!-- avatar -->

    <div class="info">
      <h2>Johnny <span>Mellow</span></h2>

      <p>
        <i class="icon icon-tie"></i>
        PR Consultant
      </p>
      <p>
        <i class="icon icon-place"></i>
        Dubai, UAE
      </p>
    </div> <!-- info -->
  </section> <!-- user-details -->

  <section class="survey">
    <p>Catapult needs some basic information to start finding good job oportunities for you:</p>

    <ul class="questions">
      <li class="active">
        <h3>Most recent company</h3>
        <p style="color: #888888">...</p>

      </li>
      <li>
        <h3>Ideal salary range</h3>
        <p>1000 - 4999</p>
        <p>5000 - 9999</p>
        <p>10000 - 20000</p>
        <p>20000+</p>
      </li>
      <li>
        <h3>Eductaion cap</h3>
        <p>BA</p>
        <p>MSC</p>
        <p>PHD</p>
      </li>
      <li>
        <h3>Years experience</h3>
        <p>0 - 2</p>
        <p>2 - 5</p>
        <p>5 - 10</p>
        <p>10+</p>
      </li>
      <li>
        <h3>Native language</h3>
        <p style="color: #888888">...</p>

      </li>
    </ul>

    <ul class="pagin-indicator">
      <li class="active"></li>
      <li></li>
      <li></li>
    </ul> <!-- pagin-indicator -->
  </section> <!-- survey -->
</section> <!-- WELCOME-PERSON -->
