<!DOCTYPE html>
<!--[if lt IE 7]>         <html lang="en" class="ie ie6 lte9 lte8 lte7">  <![endif]-->
<!--[if IE 7]>          <html lang="en" class="ie ie7 lte9 lte8 lte7">  <![endif]-->
<!--[if IE 8]>          <html lang="en" class="ie ie8 lte9 lte8">   <![endif]-->
<!--[if IE 9]>          <html lang="en" class="ie ie9 lte9">      <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">                                <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Attention</title>
    <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>CatapultDemo</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <%= yield %>
  </div> <!-- wrapper -->

  <%= javascript_include_tag 'application'%>
</body>
</html>
